*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(/Exchange/assets/images/firewatch-campo-santo-kholmy-vid-les-igra-peizazh-gory-poz-7.jpeg);
}
#telaDeFundo{
    background-color: purple;
    width: 40%;
    height: 80vh;
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 5%;
}
#mensagem{
    display: flex;
    margin-top: 395%;
    margin-left: 5%;
    width: 325%;
    height: 3%;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
}
#send{
    display: flex;
    margin-top: -19%;
    margin-left: 335%;
    background-color: purple;
    width: 70%;
    height: 5%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
}